Source: mcollective-users
Homepage: https://github.com/puppetlabs/mcollective-users-agent
Section: utils
Priority: extra
Maintainer: Puppet Labs
Build-Depends: cdbs, debhelper
Standards-Version: 3.8.0

Package: mcollective-users-agent
Architecture: all
Depends: mcollective-users-common(= ${binary:Version})
Description: Inspect running userses

Package: mcollective-users-client
Architecture: all
Depends: mcollective-users-common(= ${binary:Version})
Description: Inspect running userses

Package: mcollective-users-common
Architecture: all
Depends: mcollective-common(>= 2.2.1)
Description: Inspect running userses
